@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block
}

* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media (max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
  }

  @keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  
  /* Custom breakpoints */
  @media (min-width: 400px) {
    .xs\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .xs\:block {
      display: block;
    }
    
    .xs\:flex {
      display: flex;
    }
  }